.BestSellers {
    .BestSellers-books {
        overflow: auto;
        cursor: grab;

        &:active {

            cursor: grabbing;
        }
        &::-webkit-scrollbar{
            display: none;
        }
        .BestSellers-book {
            min-width: 200px;

            img {
                width: 200px;
                height: 250px;
                border-radius: 2px;
            }

            div h6 {
                font-size: 1.8rem;
            }

            button {
                color: var(--primary-white);
                background-color: var(--dark-blue);
                border-radius: 5px;
            }
        }
    }

    // .BestSellers-books::-webkit-scrollbar{
    //     display: none;
    // }
}