.BestSellers{
    
    
    .BestSellers__ul{
        grid-template-columns: repeat( auto-fit ,max(200px));
        .BestSellers__li{
            img{
                width: 200px;
                height: 250px;
                border-radius: 2px;
            }
            div h6{
                font-size: 1.8rem;
            }
            
            button{
                color: var(--primary-white);
                background-color: var(--dark-blue);
                border-radius: 5px;
            }
        }
    }
}