nav {
    .Left-side {
        .Nav-Logo {
            .Nav-Logo__h1 {
                font-size: 2.5rem;
                font-weight: 900;
            }
        }

        .Nav-menu {
            .Nav-menu__ul {
                .Nav-menu__li {
                    transition: 1s ease-in;

                    &:hover {
                        color: var(--dark-blue);
                        border-bottom: 1px solid var(--dark-blue);

                    }
                }
            }
        }

    }

    .Right-side {

        // SearchBar
        .Nav-searchbar {

            // Main styles
            form {
                position: relative;
                width: 30rem;
                background: var(--color-brand);
                border-radius: .7rem;
            }

            input,
            button {
                height: 3rem;
                font-family: "Pacifico", serif;
                border: 0;
                color: var(--dark-blue);
                font-size: 1.8rem;
            }

            input[type="search"] {
                outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
                width: 100%;
                background: var(--light-cream);
                padding: 0 1.6rem;
                border-bottom: 1px solid var(--dark-blue);
                appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
                transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
                transition-property: width;
                z-index: 1;
                position: relative;
            }

            button {
                display: none; // prevent being able to tab to it
                position: absolute;
                top: 0;
                right: 0;
                width: 6rem;
                font-weight: bold;
                background: var(--color-brand);
                border-radius: 0 .7rem .7rem 0;
            }

            input:not(:placeholder-shown) {
                border-radius: 0.7rem 0 0 .7rem;
                width: calc(100% - var(--btn-width));

                +button {
                    display: block;
                }
            }

            label {
                position: absolute;
                clip: rect(1px, 1px, 1px, 1px);
                padding: 0;
                border: 0;
                height: 1px;
                width: 1px;
                overflow: hidden;
            }
        }

        //
        .Nav-Right__btns {
            a {
                border-left: 1px solid var(--dark-blue);
            }
        }
        // 
         /* The Overlay (background) */
         .overlay {
            /* Height & width depends on how you want to reveal the overlay (see JS below) */
            height: 100%;
            width: 0;
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            background-color: rgb(0, 0, 0);
            /* Black fallback color */
            background-color: rgba(0, 0, 0, 0.9);
            /* Black w/opacity */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
        }

        /* Position the content inside the overlay */
        .overlay-content {
            position: relative;
            top: 25%;
            /* 25% from the top */
            width: 100%;
            /* 100% width */
            text-align: center;
            /* Centered text/links */
            margin-top: 30px;
            /* 30px top margin to avoid conflict with the close button on smaller screens */
        }

        /* The navigation links inside the overlay */
        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            /* Display block instead of inline */
            transition: 0.3s;
            /* Transition effects on hover (color) */
        }

        /* When you mouse over the navigation links, change their color */
        .overlay a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }

        /* Position the close button (top right corner) */
        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    



    }

    }


