.swiper {
  width: 100%;
  height: fit-content;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    

    .slides {
      width: 200px;
      height: 300px;
    }
  }
  
}
.mySwiper{
  .swiperItem{
    .swiperItem__img{
      width: 150px;
      height: 200px;
      border-radius: 1rem;
    }
    .swiperItem__item{
      font-size: 1.5rem;
    }

  }
}
