.footer {
    background-color: var(--light-cream);

    .footer-links {
        .footerLink {
            .footerLinks__ul {
                .footerLinks__li {
                    margin: 8px 0;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .footerContact{
        .footerContact__input{
            border: 3px solid #EFEFEF;
            color: var(--dark-blue);
            outline: none;
        }
        .footerContact__btn{
            color: var(--light-cream);
            background-color: var(--dark-blue);
        }
    }
}