:root {
    --primary-white: #ffffff;
    --secondary-white: #FAFAFA;
    --light-cream: #faf8f6;
    --second-cream: #F5ECE0;
    --dark-blue: #27445D;
    --Sky-Blue: #3674B5;
    --Light-Sky-Blue: #A1E3F9;
    --Steel-Blue: #578FCA;
    --color-brand: #57bd84;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0 auto;
    font-family: serif;

    &::-webkit-scrollbar {
        display: none;
    }

}

h1,
.h1Style {
    font-size: 4rem;
}

h2,
.h2Style {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
}

main {
    background-color: var(--primary-white);
    color: var(--dark-blue);
}

.main-minHeight {
    min-height: 49vh;
}

.link {
    color: blue;
    text-decoration: dashed;
}

.partTitle {
    .partTitle__h1 {
        font-size: 4rem;
    }

    .partTitle__span {
        font-size: 2.5rem;
    }
}

// Fonts
@import "fonts";
// Header Parts
@import "./../../components/Header/Header";
@import "./../../components/Navbar/Navbar";
//HomeMainParts
@import "./../../components/mainParts/onlineBooks/OnlineBooks";
@import "./../../components/mainParts/OffersView/Offers";
//Footer
@import "./../../components/Footer/footer";
// dragScroll
@import "./../../components/dragScroll/dragScroll";
//BookPage 
@import "./../../views/bookPage/BookDetails";
// OrderPage
@import "./../../views/OrdersPage/Orders";
// Login
@import "./../../views/Login/Login";
// userPanel
@import "./../../views/userPanel/userPanel";
// user panel dashboard
@import "./../../components/userPanelParts/dashboard/dashboard";
// user panel order History
@import"./../../components/userPanelParts/orderHistory/orderHistory";
// ManagementPanel
@import "./../../views/managerPanel/mangePanel";
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV