:root{
    --primary-white:#FFFFFF;
    --secondary-white:#FAFAFA;
    --light-cream:#FAF8F6;
    --dark-blue:#0B1220;
    --color-brand: #57bd84;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    margin:0 auto ;
}
@import "fonts";
// Header Parts
@import "./../../components/HeaderParts/Header/Header";
@import "./../../components/HeaderParts/Navbar/Navbar";

