Header {
    background-color: var(--light-cream);

    .header-middle {
        .header-Left {
            .header-title__h1 {
                font-size: 10rem;
            }

            .header-left__btn {
                background-color: var(--dark-blue);
                color: var(--primary-white);
                font-size: 1.5rem;
            }
        }

        .header-right {
            .header-books {
                grid-template-columns: repeat(auto-fit , minmax(190px,200px));
                .header-book--sides {
                    .header-book__img {
                        width: 190px;
                        height: 350px;
                        border-radius: 100% 100% 0% 0% / 63% 63% 0% 0%;
                    }

                    .header-book__h2 {
                        font-size: 1.2rem;
                    }
                }
                .header-book--middle{
                    .header-book__img {
                        width: 190px;
                        height: 350px;
                        border-radius: 0% 0% 100% 100%  / 0% 0% 63% 63% ;
                    }

                    .header-book__h2 {
                        font-size: 1.2rem;
                    }
                }
            }

        }
    }
}