:root {
  --primary-white: #ffffff;
  --secondary-white: #FAFAFA;
  --light-cream: #faf8f6;
  --second-cream:#F5ECE0;
  --dark-blue: #27445D;
  --Sky-Blue:#3674B5 ;
  --Light-Sky-Blue:#A1E3F9;
  --Steel-Blue:#578FCA;
  --color-brand: #57bd84;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  font-family: serif;
}
body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.4rem;
}

main {
  background-color: var(--second-cream);
}

.link {
  color: blue;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.partTitle .partTitle__span {
  font-size: 2.5rem;
}

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.charm-regular {
  font-family: "Charm", serif;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: serif;
}

Header {
  background-color: var(--light-cream);
}
Header .header-middle .header-Left .header-title__p1 {
  font-size: 10rem;
}
Header .header-middle .header-Left .header-title__p2 {
  font-size: 7rem;
}
Header .header-middle .header-Left .header-left__btn {
  background-color: var(--dark-blue);
  color: var(--primary-white);
  font-size: 1.5rem;
}
Header .header-middle .header-right .header-books {
  grid-template-columns: repeat(auto-fit, minmax(190px, 200px));
}
Header .header-middle .header-right .header-books .header-book--sides .header-book__img {
  width: 190px;
  height: 350px;
  border-radius: 100% 100% 0% 0%/63% 63% 0% 0%;
}
Header .header-middle .header-right .header-books .header-book--sides .header-book__h2 {
  font-size: 1.2rem;
}
Header .header-middle .header-right .header-books .header-book--middle .header-book__img {
  width: 190px;
  height: 350px;
  border-radius: 0% 0% 100% 100%/0% 0% 63% 63%;
}
Header .header-middle .header-right .header-books .header-book--middle .header-book__h2 {
  font-size: 1.2rem;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--light-cream);
  /* Additional styles can be added here as needed */
}
nav .Left-side .Nav-Logo .Nav-Logo__h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
nav .Left-side .Nav-menu .Nav-menu__ul .Nav-menu__li {
  transition: 1s ease-in;
}
nav .Left-side .Nav-menu .Nav-menu__ul .Nav-menu__li:hover {
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
}
nav .Right-side {
  /* The Overlay (background) */
  /* Position the content inside the overlay */
  /* The navigation links inside the overlay */
  /* When you mouse over the navigation links, change their color */
  /* Position the close button (top right corner) */
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
}
nav .Right-side .Nav-searchbar form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: 0.7rem;
}
nav .Right-side .Nav-searchbar input,
nav .Right-side .Nav-searchbar button {
  height: 3rem;
  font-family: "Pacifico", serif;
  border: 0;
  color: var(--dark-blue);
  font-size: 1.8rem;
}
nav .Right-side .Nav-searchbar input[type=search] {
  outline: 0;
  width: 100%;
  background: var(--light-cream);
  padding: 0 1.6rem;
  border-bottom: 1px solid var(--dark-blue);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width;
  z-index: 1;
  position: relative;
}
nav .Right-side .Nav-searchbar button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 0.7rem 0.7rem 0;
}
nav .Right-side .Nav-searchbar input:not(:-moz-placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - var(--btn-width));
}
nav .Right-side .Nav-searchbar input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - var(--btn-width));
}
nav .Right-side .Nav-searchbar input:not(:-moz-placeholder-shown) + button {
  display: block;
}
nav .Right-side .Nav-searchbar input:not(:placeholder-shown) + button {
  display: block;
}
nav .Right-side .Nav-searchbar label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
nav .Right-side .Nav-Right__btns a {
  border-left: 1px solid var(--dark-blue);
}
nav .Right-side .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
nav .Right-side .overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}
nav .Right-side .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}
nav .Right-side .overlay a:hover,
nav .Right-side .overlay a:focus {
  color: #f1f1f1;
}
nav .Right-side .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

main {
  background-color: var(--primary-white);
  color: var(--dark-blue);
}

.onlineBooks {
  background-color: var(--dark-blue);
}
.onlineBooks .onlineBooks-LeftSide img {
  width: 100%;
  height: 600px;
}
.onlineBooks .onlineBooks-RightSide {
  color: var(--primary-white);
}
.onlineBooks .onlineBooks-RightSide h2 {
  font-size: 5.5rem;
}
.onlineBooks .onlineBooks-RightSide p {
  font-size: 1.8rem;
  max-width: 400px;
}
.onlineBooks .onlineBooks-RightSide button {
  border: 1px solid var(--light-cream);
}

.offers .offers-ranges .range1 img,
.offers .offers-ranges .range3 img {
  width: 300px;
  height: 250px;
  border-radius: 5px 5px 300px 300px/5px 5px 250px 250px;
}
.offers .offers-ranges .range2 img {
  width: 300px;
  height: 250px;
  border-radius: 300px 300px 5px 5px/250px 250px 5px 5px;
}
.offers .offers-ranges .range1 h5,
.offers .offers-ranges .range2 h5,
.offers .offers-ranges .range3 h5 {
  font-size: 2rem;
}
.offers button {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}

.swiper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide .slides {
  width: 200px;
  height: 300px;
}

.topBanner {
  background-color: var(--dark-blue);
  color: var(--light-cream);
  border-radius: 5px;
}
.topBanner .topBanner__img {
  width: 200px;
  height: 200px;
}
.topBanner button {
  width: 30%;
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
  border-radius: 5px;
}

.footer {
  background-color: var(--light-cream);
}
.footer .footer-links .footerLink .footerLinks__ul .footerLinks__li {
  margin: 8px 0;
  font-size: 1.5rem;
}
.footer .footerContact .footerContact__input {
  border: 3px solid #EFEFEF;
  color: var(--dark-blue);
  outline: none;
}
.footer .footerContact .footerContact__btn {
  color: var(--light-cream);
  background-color: var(--dark-blue);
}

.swiper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide .slides {
  width: 200px;
  height: 300px;
}

.mySwiper .swiperItem .swiperItem__img {
  width: 150px;
  height: 200px;
  border-radius: 1rem;
}
.mySwiper .swiperItem .swiperItem__item {
  font-size: 1.5rem;
}

.BookInfo {
  grid-template-columns: 1.5fr 2.5fr 1.1fr;
}
.BookInfo .leftCol .bookImg .bookImg__img {
  width: 90%;
  height: 500px;
  border-radius: 10px;
}
.BookInfo .leftCol .leftCol_btns .leftCol__btn {
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
}
.BookInfo .centerCol .bookDetails .bookDetails__p {
  font-size: 1.7rem;
}
.BookInfo .rightCol .bookPrice {
  border: 3px solid var(--dark-blue);
  border-radius: 10px;
  line-height: 1.2;
}
.BookInfo .rightCol .bookPrice .prices {
  grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
}
.BookInfo .rightCol .bookPrice .prices .TypesPrice {
  border: 3px solid var(--dark-blue);
  border-radius: 5px;
}
.BookInfo .rightCol .bookPrice .prices .TypesPrice--active {
  border: 3px solid var(--Sky-Blue);
  background-color: var(--Light-Sky-Blue);
}
.BookInfo .rightCol .bookPrice .bookPrice__btn {
  background-color: var(--Light-Sky-Blue);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
}
.BookInfo .rightCol .bookPrice .bookPrice__span {
  font-size: 1.4rem;
}
.BookInfo .rightCol .bookPrice .bookPrice__a {
  color: blue;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
.BookInfo .rightCol .bookPrice .bookPrice__img {
  width: 300px;
  height: 20px;
}