:root {
  --primary-white:#FFFFFF;
  --secondary-white:#FAFAFA;
  --light-cream:#FAF8F6;
  --dark-blue:#0B1220;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: var(--light-cream);
}