.salesFigures {
    .chart-container {
        width: 100%;
        height: 200px;
    }

    canvas {
        width: 80% !important;
        height: 400px !important;
    }
  table, th, td {
  border:1px solid black;
}
}